body {
    font-family : helvetica, arial, sans-serif;
}

#left-container {
    left: 0px;
}

#right-container {
    right: 0px;
}

.container {
    background-color: #eee;
    width: 15%;
    top: 0px;
    position: absolute;
    height: 100%;
    padding: 10px;
}

h1 {
    color: #008bdb;
    text-align: center;
}

.plant-holder{
    position: relative;
    height: 13%;
    left: -10px;
}

.plant{
    position: absolute;
    max-width: 150px;
    max-height: 150px;
    z-index: 2;
}

.jar-walls {
    height: 80%;
    width: 60%;
    background: #d1e1df;
    border-radius: 1rem;
    position: absolute;
    bottom: 0.5%;
    left: 20%;
    opacity: 0.5;
    z-index: 1;
}
.jar-top {
    width: 50%;
    height: 5%;
    background: #d1e1df;
    position: absolute;
    bottom: 80.5%;
    left: 25%;
    opacity: 0.7;
    z-index: 1;
}

.jar-bottom {
    width: 50%;
    height: 1%;
    background: #d1e1df;
    position: absolute;
    bottom: 0%;
    left: 25%;
    opacity: 0.7;
}
.dirt {
    width: 60%;
    height: 5%;
    background: #3a241d;
    position: absolute;
    border-radius: 0 0 1rem 1rem;
    bottom: 1%;
    left: 20%;
    opacity: 0.7;
    z-index: -1;
}

.jar-glossy-long {
    background: #FFF;
    height: 25%;
    width: 30px;
    position: absolute;
    bottom: 20%;
    border-radius : 1rem 1rem 1rem 1rem;
    left: 5%;
    opacity: 0.7;
}

.jar-glossy-short {
    background: #FFF;
    height: 5%;
    width: 30px;
    position: absolute;
    bottom: 50%;
    border-radius : 1rem 1rem 1rem 1rem;
    left: 5%;
    opacity: 0.7;
}